.description {
  padding: 5px 10px;
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  border: 1px solid #2D324F; }

textarea {
  resize: vertical;
  overflow: hidden; }
  textarea:focus {
    box-shadow: 0px 0px 0px 1px #2D324F; }

.section-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center; }

.section-header {
  padding: 8px;
  min-width: 700px;
  margin: 0px;
  text-transform: uppercase;
  background: #800000;
  color: #fff;
  font-size: 14px;
  min-width: 700px;
  width: 80vw;
  border: 1px solid #2D324F;
  border-top: 0px; }

.title {
  color: #40476f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px; }

.form {
  min-width: 750px;
  margin: 0 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid #2D324F;
  box-shadow: 0px 1px 5px 0px #525b90;
  color: #4d4d4d; }
  .form > div, .form h1 {
    padding: 0 20px;
    margin-bottom: 25px; }

.form__error {
  color: #b74242; }

.form__textarea {
  resize: none;
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #2D324F;
  background-color: #ffffff;
  transition: .3s ease; }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #2D324F; }

.form__customer .form__input {
  margin-left: 20px; }

.form__customer label {
  margin-right: 10px; }

.form__lot--details, .form__customer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.form__submit--btn {
  font-weight: bold;
  min-height: 50px;
  width: 120px;
  padding: 8px;
  color: #fff;
  background-color: #2D324F;
  border: 1px solid #1a1d2f;
    border-radius: 5px;
  float: right;
  transition: .3s;
  box-shadow: 0px 1px 5px 0px #525b90; }
  .form__submit--btn:hover {
    background-color: #40476f;
    box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.2); }
  .form__submit--btn:disabled {
    background-color: #40476f;
    box-shadow: 0px 1px 5px 0px #525b90;
    cursor: not-allowed; }

.multiselect__failure_mode,
.multiselect__customer {
  width: 300px; }

.form__category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form__category .form__category--failure__mode {
    margin-right: 10px; }
  .form__category .multiselect__discrepancy_category {
    width: 500px; }

.multiselect__employee_list {
  min-width: 650px; }

.multiselect {
  border-radius: 7px;
  border: 1px solid #2D324F !important;
  background-color: #ffffff; }

.select-group {
  display: -ms-flexbox;
  display: flex; }
  .select-group .form__station {
    margin-right: 10px; }

.error {
  text-transform: capitalize;
  color: redbrick;
  margin: 0px 20px;
  border: 1px solid redbrick;
  border-radius: 5px;
  background-color: #ffbebe; }

/*# sourceMappingURL=vue-issue.css.map */
