$white: #ffffff;
$light-green-border: #41B883;
$semi-white:lighten($light-green-border, 45%);

.form {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  border-radius: 7px;
  border: 1px solid $light-green-border;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
  color: lighten(#000000, 30%);
}

.form>div,
.form>h1 {
  padding: 0px 20px;
  margin-bottom: 25px;
}

.form__error {
  color: #b74242;
}

.form__textarea {
  resize: none;
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid $light-green-border;
  background-color: $white;
}
.form__customer>.form__input {
  margin-left:20px;
}

.form__lot--details, .form__customer {
  display: flex;
}
.form__customer>label {
  margin-right: 10px;
}

.form__submit--btn {
  font-weight: bold;
  min-height: 50px;
  width: 120px;
  padding: 8px;
  background-color: $white;
  border: 1px solid $light-green-border;
  border-radius: 5px;
  float: right;
  transition: .3s;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: darken($semi-white, 10%);
    box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: darken($semi-white, 10%);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4) !important;
    color: #868686;
    cursor: not-allowed;
  }
}

.multiselect__failure_mode,
.multiselect__customer {
  min-width: 300px;
}

.form__category {
  display: flex;

  .form__category--failure__mode {
    margin-right: 10px;
  }

  .multiselect__discrepancy_category {
    min-width: 500px;
  }
}

.multiselect__employee_list {
  min-width: 650px;
}

.multiselect {
  border-radius: 7px;
  border: 1px solid $light-green-border !important;
  background-color: $white;
}