.navbar .padder {
  padding: 5em 2em 5em 2em;
}

.navbar-brand {
  font-family: $big-font;
  font-size: 50px;
  font-weight: bold;
  transition: .3s;

  p.subtitle {
    font-family: $subtitle-font;
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .navbar-brand {
    font-size: 24px;
  }

  .navbar-brand p.subtitle {
    margin-top: -5px;
    font-size: 7px;
  }
}

.navbar-brand,
.navbar-nav li a {
  color: $dim-grey;
}

.navbar.stuck {
  background-color: $dim-grey;
  position: fixed;
  width: 100%;
  color: $light-blue;

  .navbar-brand {
    font-size: 24px;
    color: $dim-blue;
  }

  .navbar-brand p.subtitle {
    margin-top: -5px;
    font-size: 7px;
    color: $dim-blue;
  }

  .navbar-nav li a {
    color: $dim-blue;
  }

  .navbar-brand:hover,
  .navbar-nav li a:hover,
  .navbar-brand:focus,
  .navbar-nav li a:focus {
    background-color: lighten($dim-grey, 60%);
  }

  .dropdown-menu li a {
    color: $dim-grey;
  }
}

.navbar-brand:hover,
.navbar-nav li a:hover,
.navbar-brand:focus,
.navbar-nav li a:focus {
  color: lighten($dim-grey, 10%);
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

.active,
li.dropdown.open > .dropdown-toggle {
  background-color: lighten($dim-grey, 60%);
}

.dropdown-menu li a {
  color: $dim-grey;
}

.dropdown {
  cursor: pointer;
}


